*{
    margin: 0;
    
    box-sizing: border-box;
}

header{
    min-height: 275px;
    background-color: #add8e6;
    
}

.flexcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.boxed{
    background-color: #daa520;
    max-width: 800px;
    margin:  auto;
    
    
    
}

.boxed1{
   min-width: 160px;
   border: 1px dashed black;

    
}

#nav{
    min-width: 480px;
    text-align: center;
    border: 1px dashed black;
}

.boxed3{
    min-width: 160px;
    text-align: end;
    border: 1px dashed black;
}


.boxblu{
    background-color: #00008b;
    min-height: 250px;
    
}

#boxrosa{
    background-color:pink;
    min-height: 200px;
    max-width: 500px;
    margin: auto;
    border: 1px dashed black;
    
}